:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery-section {
  padding: 30px 30px;
  width: 1200px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  margin: 20 auto;
}

.load-more.is-hidden {
  display: none;
}

.search-btn:hover,
.search-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #27ae60;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  flex-basis: calc((100% - 60px) / 4);
}

.gallery-image {
  transition: transform var(--animation-duration) var(--timing-function);
  max-width: unset;
  object-fit: cover;
}
.gallery-image:hover {
  transform: scale(1.03);
}

.gallery__link {
  display: block;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__link:hover {
  cursor: zoom-in;
}
.info {
  display: flex;
  padding: 0 10px;
  gap: 10px;
}

.info-item {
  color: #000000;
  font-size: 10px;
  text-align: center;
}
